* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: C, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    /* background-image: url(../IMG/FondoPastel2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed; */

    background-image: url(../IMG/Fondo1.jpg);
    background-repeat: repeat;
    background-attachment: fixed;

}

/** FUENTES ¨**/

@font-face {
    font-family: C;
    src: url(../FONTS/CaviarDreams.ttf);

}

@font-face {
    font-family: D;
    src: url(../FONTS/Vintage_fair.ttf);
}

@font-face {
    font-family: E;
    src: url(../FONTS/Retrophilia.ttf);

}




/** HEADER **/
header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background-image: url(../IMG/Pastel.jpg);


}

/** NAV BARRA DE NAVEGACIÓN **/
nav.barraNavegacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

/** DIV LOGO DEL PASTEL **/

div.logo {
    text-align: center;
    position: relative;

}

/* Logo del pastel */
#logo {
    width: 15%;
    /* Tamaño del logo del pastel*/
}

/** DIV BARRA DE MENÚ **/
div.barraMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    box-shadow: 3px 4px 12px 1px #1d1716;
}

/* Links de barraMenu */
div.barraMenu a {
    color: rgb(123, 32, 32);
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
    font-family: E;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Efecto Hover de los links de barra de menú */
div.barraMenu a:hover {
    text-decoration: underline;
    text-shadow: 1px 0px 18px rgb(224, 235, 253);
}

/** DIV ICONOS **/
.barraMenu div.iconos {
    /* background-color: black; */
    display: flex;
    align-items: center;

}


/* Imagenes de los Links de iconos*/
.barraMenu div.iconos a>img {
    width: 30px;

}

/** TITULO **/
h1 {
    margin-top: 50px;
    text-align: center;
    color: #ed9b21;
    text-shadow: 2px 2px rgb(255, 0, 0);
}

/** TABLA DE PEDIDOS PENDIENTES */
.tablaPedidos {
    border: 2px solid rgb(29, 32, 50);
    border-radius: 20px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    margin: 20px;

}

.tablaPedidos table {
    display: flex;
    justify-content: center;
    border-collapse:collapse
}


.tablaPedidos #Cabecera {

    padding: 20px;
border-radius: 12px 12px 0;
    font-weight: bolder;
    color: tomato;
    background-color: #1d1716;
    box-shadow: 2px 2px rgb(23, 11, 11);


}

.tablaPedidos td {
    padding: 20px;
}